@(jsonStr: String)
@tableHtml={
				<thead>
					<tr>
						<th width="80" orderField="name" class="asc">编号</th>
						<th width="100" orderField="num">空间名</th>
						<th width="100">可读数</th>
						<th>可写数</th>
						<th width="100">总数</th>
						<th width="100">可读页</th>
						<th width="100">可写页</th>
						<th width="100">总页数</th>
						<th width="100">路径</th>
					</tr>
				</thead>
				<tbody>
					<tr target="sid_user" rel="1">
						<td>1</td>
						<td>rootdbs</td>
						<td>130369</td>
						<td>444764</td>
						<td>575133.0</td>
						<td>480524</td>
						<td>1313115</td>
						<td>27963569</td>
						<td>/infomation</td>
					</tr>
					<tr target="sid_user" rel="2">
						<td>2</td>
						<td>datadbs</td>
						<td>130369</td>
						<td>444764</td>
						<td>575133.0</td>
						<td>480524</td>
						<td>1313115</td>
						<td>27963569</td>
						<td>/infomation</td>
					</tr>
					<tr target="sid_user" rel="3">
						<td>3</td>
						<td>rootdbs</td>
						<td>130369</td>
						<td>444764</td>
						<td>575133.0</td>
						<td>480524</td>
						<td>1313115</td>
						<td>27963569</td>
						<td>/infomation</td>
					</tr>
					<tr target="sid_user" rel="4">
						<td>4</td>
						<td>phydbs</td>
						<td>130369</td>
						<td>444764</td>
						<td>575133.0</td>
						<td>480524</td>
						<td>1313115</td>
						<td>27963569</td>
						<td>/infomation</td>
					</tr>
					<tr target="sid_user" rel="5">
						<td>5</td>
						<td>rootdbs</td>
						<td>130369</td>
						<td>444764</td>
						<td>575133.0</td>
						<td>480524</td>
						<td>1313115</td>
						<td>27963569</td>
						<td>/infomation</td>
					</tr>
					<tr target="sid_user" rel="6">
						<td>6</td>
						<td>rootdbs</td>
						<td>130369</td>
						<td>444764</td>
						<td>575133.0</td>
						<td>480524</td>
						<td>1313115</td>
						<td>27963569</td>
						<td title="/infomation/resource/memory/06/rootdbs">/infomation/resource/memory/06/rootdbs</td>
					</tr>
					<tr target="sid_user" rel="7">
						<td>7</td>
						<td>rootdbs</td>
						<td>130369</td>
						<td>444764</td>
						<td>575133.0</td>
						<td>480524</td>
						<td>1313115</td>
						<td>27963569</td>
						<td>/infomation</td>
					</tr>
					<tr target="sid_user" rel="8">
						<td>8</td>
						<td>datadbs</td>
						<td>130369</td>
						<td>444764</td>
						<td>575133.0</td>
						<td>480524</td>
						<td>1313115</td>
						<td>27963569</td>
						<td>/infomation</td>
					</tr>
					<tr target="sid_user" rel="9">
						<td>9</td>
						<td>rootdbs</td>
						<td>130369</td>
						<td>444764</td>
						<td>575133.0</td>
						<td>480524</td>
						<td>1313115</td>
						<td>27963569</td>
						<td>/infomation</td>
					</tr>
					<tr target="sid_user" rel="10">
						<td>10</td>
						<td>rootdbs</td>
						<td>130369</td>
						<td>444764</td>
						<td>575133.0</td>
						<td>480524</td>
						<td>1313115</td>
						<td>27963569</td>
						<td>/infomation</td>
					</tr>
					<tr target="sid_user" rel="11">
						<td>11</td>
						<td>rootdbs</td>
						<td>130369</td>
						<td>444764</td>
						<td>575133.0</td>
						<td>480524</td>
						<td>1313115</td>
						<td>27963569</td>
						<td>/infomation</td>
					</tr>
					<tr target="sid_user" rel="12">
						<td>12</td>
						<td>rootdbs</td>
						<td>130369</td>
						<td>444764</td>
						<td>575133.0</td>
						<td>480524</td>
						<td>1313115</td>
						<td>27963569</td>
						<td>/infomation</td>
					</tr>
					<tr target="sid_user" rel="13">
						<td>13</td>
						<td>rootdbs</td>
						<td>130369</td>
						<td>444764</td>
						<td>575133.0</td>
						<td>480524</td>
						<td>1313115</td>
						<td>27963569</td>
						<td>/infomation</td>
					</tr>
					<tr target="sid_user" rel="14">
						<td>14</td>
						<td>datadbs</td>
						<td>130369</td>
						<td>444764</td>
						<td>575133.0</td>
						<td>480524</td>
						<td>1313115</td>
						<td>27963569</td>
						<td>/infomation</td>
					</tr>
					<tr target="sid_user" rel="15">
						<td>15</td>
						<td>rootdbs</td>
						<td>130369</td>
						<td>444764</td>
						<td>575133.0</td>
						<td>480524</td>
						<td>1313115</td>
						<td>27963569</td>
						<td>/infomation</td>
					</tr>
					<tr target="sid_user" rel="16">
						<td>16</td>
						<td>rootdbs</td>
						<td>130369</td>
						<td>444764</td>
						<td>575133.0</td>
						<td>480524</td>
						<td>1313115</td>
						<td>27963569</td>
						<td>/infomation</td>
					</tr>
				</tbody>
}

@chartScript = {
<script src="@routes.Assets.at("javascripts/flot/jquery.flot.pie.min.js")" type="text/javascript"></script>
<script type="text/javascript">
	$(function() {
		var data = [
			{ label: "rootdbs",  data: 10},
			{ label: "datadbs",  data: 30},
			{ label: "rootdbs",  data: 90},
			{ label: "phydbs",  data: 70}
		];
		$.plot($("#placeholder", navTab.getCurrentPanel()), data,
			{
	        series: {
	            pie: {
	                show: true
	            },
		        legend: {
		            show: false
		        }
	        }
		});
	});
</script>
}

@tableChart("内存块列表",tableHtml)("内存占比图",chartScript)