@(jsonStr: String)
<div class="pageContent" layoutH="0">
	<div class="panel" minh="100">
		<h1>监控对象列表</h1>
		<div>
			<table id="objectList" class="list" width="100%">
				<thead>
					<tr>
						<th width="100" orderField="num">对象名</th>
						<th width="100">状态</th>
						<th width="100">运行时间</th>
						<th width="100">上行速度</th>
						<th width="100">下行速度</th>
						<th width="100">网络使用率</th>
						<th width="100">健康度</th>
					</tr>
				</thead>
				<tbody>
					<tr target="sid_user" rel="1" class="selected">
						<td>Alert Cleanup</td>
						<td style="color:green;">运行中</td>
						<td class="runtime">15天20小时31分19秒</td>
						<td class="data">35.5KB/s</td>
						<td class="data">17.7KB/s</td>
						<td class="percent">23%</td>
						<td style="color:green;">良好</td>
					</tr>
					<tr target="sid_user" rel="2">
						<td>Intelligent analysis system(IAS)</td>
						<td style="color:green;">运行中</td>
						<td class="runtime">9天7小时44分17秒</td>
						<td class="data">15.5KB/s</td>
						<td class="data">6.3KB/s</td>
						<td class="percent">12%</td>
						<td style="color:green;">良好</td>
					</tr>
					<tr target="sid_user" rel="3">
						<td>Solaris11_x64</td>
						<td style="color:red;">停止</td>
						<td></td>
						<td></td>
						<td></td>
						<td>0%</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="panel">
		<h1>网络带宽使用率</h1>
		<div class="pageContent">
			<div id="placeholder" style="height:350px;margin:10px;"></div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(function() {
	var $box = navTab.getCurrentPanel();
	var container = $("#placeholder",$box);
	var maximum = container.outerWidth() / 2 || 300;
	var refresh = true;
	var data = [[],[]];// up down

    function getRandomData(index) {
        if (data[index].length) {
            data[index] = data[index].slice(1);
        }

        while (data[index].length < maximum) {
            var previous = data[index].length ? data[index][data[index].length - 1] : 20;
            var y = previous + Math.random() * 10 - 5;
            data[index].push(y < 0 ? 0 : y > 100 ? 100 : y);
        }

        var res = [];
        for (var i = 0; i < data[index].length; ++i) {
            res.push([i, data[index][i]])
        }

        return res;
    }

	//

	var series = [
		{
			data: getRandomData(0),
			label: "上行速度", 
			lines: {
				fill: false
			}
		},
		{
			data: getRandomData(1),
			label: "下行速度", 
			lines: {
				fill: false
			}
		}
	];

	//

	var plot = $.plot(container, series, {
		grid: {
			borderWidth: 1,
			minBorderMargin: 20,
			labelMargin: 10,
			backgroundColor: {
				colors: ["#fff", "#e4f4f4"]
			},
			margin: {
				top: 8,
				bottom: 20,
				left: 0
			},
			markings: function(axes) {
				var markings = [];
				var xaxis = axes.xaxis;
				for (var x = Math.floor(xaxis.min); x < xaxis.max; x += xaxis.tickSize * 2) {
					markings.push({ xaxis: { from: x, to: x + xaxis.tickSize }, color: "rgba(232, 232, 255, 0.2)" });
				}
				return markings;
			}
		},
		xaxis: {
			tickFormatter: function() {
				return "";
			}
		},
		yaxis: {
			min: 0,
			max: 1024
		},
		legend: {
			show: true
		}
	});

	var yaxisLabel = $("<div class='axisLabel yaxisLabel'></div>")
		.text("传输速度(KB/S)")
		.appendTo(container);

	yaxisLabel.css("margin-top", 5);

	setInterval(function updateRandom() {
		if(refresh){
			series[0].data = getRandomData(0);
			series[1].data = getRandomData(1);
			plot.setData(series);
			plot.draw();
		}
	}, 100);
	
	setInterval(function(){
		$(".percent", $box).each(function(){
			$(this).empty().append(Math.round(Math.random()*100) + "%");
		});
		$(".data", $box).each(function(){
			$(this).empty().append(Math.round(Math.random()*150) + "KB/S");
		});
	}, 3000);
	
	$("#objectList tbody tr", $box).click(function(){
		var index = $(this).index();
		if(index == 2){
			refresh = false;
			series[0].data = [];
			series[1].data = [];
			plot.setData(series);
			plot.draw();
		}else{
			refresh = true;
			data=[[],[]];
		}
    });
});
</script>