@(jsonStr: String)
<div class="pageContent" layoutH="0">
	<div class="panel">
		<h1>实时监控</h1>
		<div class="pageContent">
			<div>
				<label><input type="checkbox" id="cpu" checked>CPU</label>
				<label><input type="checkbox" id="io" checked>IO</label>
				<label><input type="checkbox" id="storage" checked>硬盘空间</label>
				<label><input type="checkbox" id="memory" checked>内存</label>
				<label><input type="checkbox" id="network" checked>网络</label>
			</div>
			<div id="placeholder" style="height:350px;margin:10px;"></div>
		</div>
	</div>
	<div class="panel collapse">
		<h1>CPU</h1>
		<div>
			<table id="objectList" class="list" width="100%">
				<thead>
					<tr>
						<th width="100">使用率</th>
						<th width="100">超过预警线时间占比</th>
					</tr>
				</thead>
				<tbody>
					<tr target="sid_user" rel="1" class="selected">
						<td class="percent">43%</td>
						<td>7%</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
$(function() {
	var $box = navTab.getCurrentPanel();
	var container = $("#placeholder",$box);
	var maximum = container.outerWidth() / 2 || 300;
	var refresh = true;
	var data = [[],[],[],[],[]];// cpu io storage memory network
	var showCPU = true;
	var showIO = true;
	var showStorage = true;
	var showMemory = true;
	var showNetwork = true;
	
	$("#cpu:checkbox", $box).click(function(){ showCPU = $(this).is(':checked');});
	$("#io:checkbox", $box).click(function(){ showIO = $(this).is(':checked');});
	$("#storage:checkbox", $box).click(function(){ showStorage = $(this).is(':checked');});
	$("#memory:checkbox", $box).click(function(){ showMemory = $(this).is(':checked');});
	$("#network:checkbox", $box).click(function(){ showNetwork = $(this).is(':checked');});

    function getRandomData(index) {
        if (data[index].length) {
            data[index] = data[index].slice(1);
        }

        while (data[index].length < maximum) {
            var previous = data[index].length ? data[index][data[index].length - 1] : 20;
            var y = previous + Math.random() * 10 - 5;
            data[index].push(y < 0 ? 0 : y > 100 ? 100 : y);
        }

        var res = [];
        for (var i = 0; i < data[index].length; ++i) {
            res.push([i, data[index][i]])
        }

        return res;
    }

	//

	series = [
		{
			data: getRandomData(0),
			label: "CPU", 
			lines: {
				fill: false
			}
		},
		{
			data: getRandomData(1),
			label: "IO", 
			lines: {
				fill: false
			}
		},
		{
			data: getRandomData(2),
			label: "硬盘空间", 
			lines: {
				fill: false
			}
		},
		{
			data: getRandomData(3),
			label: "内存", 
			lines: {
				fill: false
			}
		},
		{
			data: getRandomData(4),
			label: "网络", 
			lines: {
				fill: false
			}
		}
	];

	//

	var plot = $.plot(container, series, {
		grid: {
			borderWidth: 1,
			minBorderMargin: 20,
			labelMargin: 10,
			backgroundColor: {
				colors: ["#fff", "#e4f4f4"]
			},
			margin: {
				top: 8,
				bottom: 20,
				left: 0
			},
			markings: function(axes) {
				var markings = [];
				var xaxis = axes.xaxis;
				for (var x = Math.floor(xaxis.min); x < xaxis.max; x += xaxis.tickSize * 2) {
					markings.push({ xaxis: { from: x, to: x + xaxis.tickSize }, color: "rgba(232, 232, 255, 0.2)" });
				}
				return markings;
			}
		},
		xaxis: {
			tickFormatter: function() {
				return "";
			}
		},
		yaxis: {
			min: 0,
			max: 100
		},
		legend: {
			show: true
		}
	});

	var yaxisLabel = $("<div class='axisLabel yaxisLabel'></div>")
		.text("使用率(%)")
		.appendTo(container);

	yaxisLabel.css("margin-top", 5);

	setInterval(function updateRandom() {
		if(refresh){
			if(showCPU){
				series[0].data = getRandomData(0);
			}else{
				series[0].data = [];
			}
			
			if(showIO){
				series[1].data = getRandomData(1);
			}else{
				series[1].data = [];
			}
			
			if(showStorage){
				series[2].data = getRandomData(2);
			}else{
				series[2].data = [];
			}
			
			if(showMemory){
				series[3].data = getRandomData(3);
			}else{
				series[3].data = [];
			}
			
			if(showNetwork){
				series[4].data = getRandomData(4);
			}else{
				series[4].data = [];
			}
			plot.setData(series);
			plot.draw();
		}
	}, 100);
	
	setInterval(function(){
		$(".percent", $box).each(function(){
			$(this).empty().append(Math.round(Math.random()*100) + "%");
		});
	}, 3000);
	
	$("#objectList tbody tr", $box).click(function(){
		var index = $(this).index();
		if(index == 2){
			refresh = false;
			series[0].data = [];
			plot.setData(series);
			plot.draw();
		}else{
			refresh = true;
			data=[];
		}
    });
});
</script>