@(jsonStr: String)
<div class="pageContent" layoutH="0">
	<div class="panel">
		<h1>实时监控</h1>
		<div class="pageContent">
			<div>
				<label><input type="checkbox" id="cpu" checked>CPU</label>
				<label><input type="checkbox" id="io" checked>IO</label>
				<label><input type="checkbox" id="storage" checked>硬盘空间</label>
				<label><input type="checkbox" id="memory" checked>内存</label>
				<label><input type="checkbox" id="network" checked>网络</label>
			</div>
			<div id="placeholder" style="width:96%;height:280px;margin:10px;"></div>
		</div>
	</div>
	<div class="pageContent" layoutH="0" style="width:50%;float:left;">
		<div class="panel collapse">
			<h1>CPU</h1>
			<div>
				<table id="objectList" class="list" width="100%">
					<thead>
						<tr>
							<th width="100">使用率</th>
							<th width="100">超过预警线时间占比</th>
						</tr>
					</thead>
					<tbody>
						<tr target="sid_user" rel="1">
							<td class="percent">43%</td>
							<td>7%</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel collapse">
			<h1>IO</h1>
			<div>
				<table id="objectList" class="list" width="100%">
					<thead>
						<tr>
							<th width="100"></th>
							<th width="100">速度</th>
							<th width="100">平均速度</th>
							<th width="100">最低</th>
							<th width="100">最高</th>
						</tr>
					</thead>
					<tbody>
						<tr target="sid_user" rel="1">
							<td>输出</td>
							<td class="curInput">9.51KB/s</td>
							<td>8.77KB/s</td>
							<td>0.09KB/s</td>
							<td>13.81KB/s</td>
						</tr>
						<tr target="sid_user" rel="2">
							<td>输入</td>
							<td class="curOutput">13.25KB/s</td>
							<td>8.77KB/s</td>
							<td>1.38KB/s</td>
							<td style="color:red;">26.20KB/s</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel collapse">
			<h1>网络</h1>
			<div>
				<table id="objectList" class="list" width="100%">
				<thead>
					<tr>
						<th width="100">上行速度</th>
						<th width="100">下行速度</th>
						<th width="100">网络使用率</th>
						<th width="100">健康度</th>
					</tr>
				</thead>
				<tbody>
					<tr target="sid_user" rel="1">
						<td class="data">35.5KB/s</td>
						<td class="data">17.7KB/s</td>
						<td class="percent">23%</td>
						<td style="color:green;">良好</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
	</div>
	<div class="pageContent" layoutH="0" style="width:50%;float:left;">
		<div class="panel collapse">
			<h1>硬盘</h1>
			<div>
				<table id="storageList" class="list" width="100%">
					<thead>
						<tr>
							<th width="100" orderField="num">空间名</th>
							<th width="100">块数</th>
							<th width="100">空间总数</th>
							<th width="100">可用空间</th>
							<th width="100">已用空间</th>
							<th width="100">使用率</th>
						</tr>
					</thead>
					<tbody>
						<tr target="sid_user" rel="1">
							<td>datadbs</td>
							<td>3.0</td>
							<td>39.1GB</td>
							<td>36.5GB</td>
							<td>2.55GB</td>
							<td style="color:green;">6.53%</td>
						</tr>
						<tr target="sid_user" rel="2">
							<td>logdbs</td>
							<td>1.0</td>
							<td>3.91GB</td>
							<td>2.00GB</td>
							<td>1.91GB</td>
							<td style="color:red;">48.83%</td>
						</tr>
						<tr target="sid_user" rel="3">
							<td>phydbs</td>
							<td>1.0</td>
							<td>1.95GB</td>
							<td>1.46GB</td>
							<td>500MB</td>
							<td style="color:green;">25.01%</td>
						</tr>
						<tr target="sid_user" rel="4">
							<td>rootdbs</td>
							<td>1.0</td>
							<td>1.95GB</td>
							<td>1.63GB</td>
							<td>331MB</td>
							<td style="color:green;">16.54%</td>
						</tr>
						<tr target="sid_user" rel="5">
							<td>sdstmdbs</td>
							<td>1.0</td>
							<td>1.91GB</td>
							<td>1.91GB</td>
							<td>424KB</td>
							<td style="color:green;">0.02%</td>
						</tr>
						<tr target="sid_user" rel="6">
							<td>tmpdbs</td>
							<td>1.0</td>
							<td>1.95GB</td>
							<td>1.95GB</td>
							<td>212KB</td>
							<td style="color:green;">0.01%</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel collapse">
			<h1>内存</h1>
			<div>
				<table id="objectList" class="list" width="100%">
					<thead>
					<tr>
						<th width="80" orderField="name" class="asc">编号</th>
						<th width="100" orderField="num">空间名</th>
						<th width="100">可读数</th>
						<th>可写数</th>
						<th width="100">总数</th>
						<th width="100">可读页</th>
						<th width="100">可写页</th>
						<th width="100">总页数</th>
						<th width="100">路径</th>
					</tr>
				</thead>
				<tbody>
					<tbody>
					<tr target="sid_user" rel="1">
						<td>1</td>
						<td>rootdbs</td>
						<td>95851</td>
						<td>495681</td>
						<td>562571.0</td>
						<td>1015648</td>
						<td>1066357</td>
						<td>2081205</td>
						<td>/infomation/resource/memory/06/rootdbs</td>
					</tr>
					<tr target="sid_user" rel="2">
						<td>2</td>
						<td>datadbs</td>
						<td>324815</td>
						<td>301789</td>
						<td>626004.0</td>
						<td>1454781</td>
						<td>1313115</td>
						<td>2796356</td>
						<td>/DBS/resouce/data/datadbs</td>
					</tr>
					<tr target="sid_user" rel="4">
						<td>3</td>
						<td>phydbs</td>
						<td>130369</td>
						<td>444764</td>
						<td>575133.0</td>
						<td>480524</td>
						<td>1313115</td>
						<td>27963569</td>
						<td>/python/dbs/phydbs</td>
					</tr>
					<tr target="sid_user" rel="6">
						<td>4</td>
						<td>rootdbs2</td>
						<td>587794</td>
						<td>148452</td>
						<td>725496.0</td>
						<td>1284759</td>
						<td>18154850</td>
						<td>20489249</td>
						<td title="/infomation/resource/memory/06/rootdbs">/infomation/resource/memory/06/rootdbs2</td>
					</tr>
					<tr target="sid_user" rel="9">
						<td>5</td>
						<td>rootdbs3</td>
						<td>156325</td>
						<td>322674</td>
						<td>478999.0</td>
						<td>235411</td>
						<td>1542864</td>
						<td>24564898</td>
						<td>/result/resource/console/rootdbs2</td>
					</tr>
				</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(function() {
	var $box = navTab.getCurrentPanel();
	var maximum = $("#placeholder",$box).outerWidth() / 2 || 300;
	var refresh = true;
	var data = [[],[],[],[],[]];// cpu io storage memory network
	var showCPU = true;
	var showIO = true;
	var showStorage = true;
	var showMemory = true;
	var showNetwork = true;
	
	$("#cpu:checkbox", $box).click(function(){ showCPU = $(this).is(':checked');});
	$("#io:checkbox", $box).click(function(){ showIO = $(this).is(':checked');});
	$("#storage:checkbox", $box).click(function(){ showStorage = $(this).is(':checked');});
	$("#memory:checkbox", $box).click(function(){ showMemory = $(this).is(':checked');});
	$("#network:checkbox", $box).click(function(){ showNetwork = $(this).is(':checked');});

    function getRandomData(index) {
        if (data[index].length) {
            data[index] = data[index].slice(1);
        }

        while (data[index].length < maximum) {
            var previous = data[index].length ? data[index][data[index].length - 1] : 20;
            var y = previous + Math.random() * 10 - 5;
            data[index].push(y < 0 ? 0 : y > 100 ? 100 : y);
        }

        var res = [];
        for (var i = 0; i < data[index].length; ++i) {
            res.push([i, data[index][i]])
        }

        return res;
    }

	//

	var series = [
		{
			data: getRandomData(0),
			label: "CPU", 
			lines: {
				fill: false
			}
		},
		{
			data: getRandomData(1),
			label: "IO", 
			lines: {
				fill: false
			}
		},
		{
			data: getRandomData(2),
			label: "硬盘空间", 
			lines: {
				fill: false
			}
		},
		{
			data: getRandomData(3),
			label: "内存", 
			lines: {
				fill: false
			}
		},
		{
			data: getRandomData(4),
			label: "网络", 
			lines: {
				fill: false
			}
		}
	];

	//

	var overviewPlot = $.plot($("#placeholder",$box), series, {
		grid: {
			borderWidth: 1,
			minBorderMargin: 20,
			labelMargin: 10,
			backgroundColor: {
				colors: ["#fff", "#e4f4f4"]
			},
			margin: {
				top: 8,
				bottom: 20,
				left: 0
			},
			markings: function(axes) {
				var markings = [];
				var xaxis = axes.xaxis;
				for (var x = Math.floor(xaxis.min); x < xaxis.max; x += xaxis.tickSize * 2) {
					markings.push({ xaxis: { from: x, to: x + xaxis.tickSize }, color: "rgba(232, 232, 255, 0.2)" });
				}
				return markings;
			}
		},
		xaxis: {
			tickFormatter: function() {
				return "";
			}
		},
		yaxis: {
			min: 0,
			max: 100
		},
		legend: {
			show: true
		}
	});

	var yaxisLabel = $("<div class='axisLabel yaxisLabel'></div>")
		.text("使用率(%)")
		.appendTo($("#placeholder",$box));

	yaxisLabel.css("margin-top", 5);

	setInterval(function updateRandom() {
		if(refresh){
			if(showCPU){
				series[0].data = getRandomData(0);
			}else{
				series[0].data = [];
			}
			
			if(showIO){
				series[1].data = getRandomData(1);
			}else{
				series[1].data = [];
			}
			
			if(showStorage){
				series[2].data = getRandomData(2);
			}else{
				series[2].data = [];
			}
			
			if(showMemory){
				series[3].data = getRandomData(3);
			}else{
				series[3].data = [];
			}
			
			if(showNetwork){
				series[4].data = getRandomData(4);
			}else{
				series[4].data = [];
			}
			overviewPlot.setData(series);
			overviewPlot.draw();
		}
	}, 100);
	
	setInterval(function(){
		$(".percent", $box).each(function(){
			$(this).empty().append(Math.round(Math.random()*100) + "%");
		});
	}, 3000);
	
	$("#objectList tbody tr", $box).click(function(){
		var index = $(this).index();
		if(index == 2){
			refresh = false;
			series[0].data = [];
			overviewPlot.setData(series);
			overviewPlot.draw();
		}else{
			refresh = true;
			data=[];
		}
    });
});
</script>