@(jsonStr: String)
<div class="pageContent" layoutH="0">
	<div class="pageContent" layoutH="0" style="width:60%;display:block;float:left;">
		<div class="panel" minh="100">
			<h1>监控对象列表</h1>
			<div>
				<table id="objectList" class="list" width="100%">
					<thead>
						<tr>
							<th width="100" orderField="num">对象名</th>
							<th width="100">状态</th>
							<th width="100">运行时间</th>
							<th width="100">可用空间</th>
						</tr>
					</thead>
					<tbody>
						<tr target="sid_user" rel="1" class="selected">
							<td>A系统</td>
							<td style="color:green;">运行中</td>
							<td class="runtime">15天20小时31分19秒</td>
							<td>23.5GB</td>
						</tr>
						<tr target="sid_user" rel="2">
							<td>B系统</td>
							<td style="color:green;">运行中</td>
							<td class="runtime">9天7小时44分17秒</td>
							<td>6.67GB</td>
						</tr>
						<tr target="sid_user" rel="3">
							<td>C系统</td>
							<td style="color:red;">停止</td>
							<td></td>
							<td>3.5GB</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel" minh="100">
			<h1>硬盘空间列表</h1>
			<div>
				<table id="storageList" class="list" width="100%">
					<thead>
						<tr>
							<th width="100" orderField="num">空间名</th>
							<th width="100">块数</th>
							<th width="100">空间总数</th>
							<th width="100">可用空间</th>
							<th width="100">已用空间</th>
							<th width="100">使用率</th>
						</tr>
					</thead>
					<tbody>
						<tr target="sid_user" rel="1">
							<td>datadbs</td>
							<td>3.0</td>
							<td>39.1GB</td>
							<td>36.5GB</td>
							<td>2.55GB</td>
							<td style="color:green;">6.53%</td>
						</tr>
						<tr target="sid_user" rel="2">
							<td>logdbs</td>
							<td>1.0</td>
							<td>3.91GB</td>
							<td>2.00GB</td>
							<td>1.91GB</td>
							<td style="color:red;">48.83%</td>
						</tr>
						<tr target="sid_user" rel="3">
							<td>phydbs</td>
							<td>1.0</td>
							<td>1.95GB</td>
							<td>1.46GB</td>
							<td>500MB</td>
							<td style="color:green;">25.01%</td>
						</tr>
						<tr target="sid_user" rel="4">
							<td>rootdbs</td>
							<td>1.0</td>
							<td>1.95GB</td>
							<td>1.63GB</td>
							<td>331MB</td>
							<td style="color:green;">16.54%</td>
						</tr>
						<tr target="sid_user" rel="5">
							<td>sdstmdbs</td>
							<td>1.0</td>
							<td>1.91GB</td>
							<td>1.91GB</td>
							<td>424KB</td>
							<td style="color:green;">0.02%</td>
						</tr>
						<tr target="sid_user" rel="6">
							<td>tmpdbs</td>
							<td>1.0</td>
							<td>1.95GB</td>
							<td>1.95GB</td>
							<td>212KB</td>
							<td style="color:green;">0.01%</td>
						</tr>
					</tbody>
					
					<tbody style="display:none;">
						<tr target="sid_user" rel="1">
							<td>datadbs</td>
							<td>3.0</td>
							<td>39.1GB</td>
							<td>36.5GB</td>
							<td>2.55GB</td>
							<td style="color:green;">6.53%</td>
						</tr>
						<tr target="sid_user" rel="2">
							<td>logdbs</td>
							<td>1.0</td>
							<td>3.91GB</td>
							<td>2.00GB</td>
							<td>1.91GB</td>
							<td style="color:red;">48.83%</td>
						</tr>
						<tr target="sid_user" rel="3">
							<td>phydbs</td>
							<td>1.0</td>
							<td>1.95GB</td>
							<td>1.46GB</td>
							<td>500MB</td>
							<td style="color:green;">25.01%</td>
						</tr>
						<tr target="sid_user" rel="4">
							<td>rootdbs</td>
							<td>1.0</td>
							<td>1.95GB</td>
							<td>1.63GB</td>
							<td>331MB</td>
							<td style="color:green;">16.54%</td>
						</tr>
					</tbody>
					
					<tbody style="display:none;">
						<tr target="sid_user" rel="1">
							<td>datadbs</td>
							<td>3.0</td>
							<td>39.1GB</td>
							<td>36.5GB</td>
							<td>2.55GB</td>
							<td style="color:green;">6.53%</td>
						</tr>
						<tr target="sid_user" rel="2">
							<td>logdbs</td>
							<td>1.0</td>
							<td>3.91GB</td>
							<td>2.00GB</td>
							<td>1.91GB</td>
							<td style="color:red;">48.83%</td>
						</tr>
						<tr target="sid_user" rel="3">
							<td>phydbs</td>
							<td>1.0</td>
							<td>1.95GB</td>
							<td>1.46GB</td>
							<td>500MB</td>
							<td style="color:green;">25.01%</td>
						</tr>
						<tr target="sid_user" rel="4">
							<td>rootdbs</td>
							<td>1.0</td>
							<td>1.95GB</td>
							<td>1.63GB</td>
							<td>331MB</td>
							<td style="color:green;">16.54%</td>
						</tr>
						<tr target="sid_user" rel="5">
							<td>sdstmdbs</td>
							<td>1.0</td>
							<td>1.91GB</td>
							<td>1.91GB</td>
							<td>424KB</td>
							<td style="color:green;">0.02%</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="pageContent" layoutH="0" style="width:40%;display:block;float: left;clear: none;">
		<div class="panel" minh="100">
			<h1>堆积图</h1>
			<div class="pageContent" layoutH="50">
				<iframe src="/monitor/status/storageFrame" style="border:none;width:99%;height:99%;"></iframe>
			</div>
		</div>
	</div>
</div>


