@(jsonStr: String)
<div class="pageContent" layoutH="0">
	<div class="panel">
		<h1>输入SQL语句</h1>
		<div class="pageFormContent">
			<textarea layoutH="400" style="width: 98%">
			select o.orderid,
			       s.ordername,
			       s.departure,
			       decode((select p.pay_status from pay_info p where p.pay_id=o.pay_id), 1, '支付成功','等待支付') pay_status,
			       to_char(s.takeoff_time,'yyyy-MM-dd hh24:mi') takeoff_time
			  from ORDER_INFO o, FLIGHT_ITEM_INFO f, SEGMENT_INFO s
			 where o.order_id = f.order_id
			  	and s.item_id = f.item_id
			  	order by s.item_id
			</textarea>
		</div>
		<div class="formBar">
			<ul>
				<li>
					<div class="buttonActive">
						<div class="buttonContent">
							<button type="button" onclick="javascript:alert('执行成功！')">执行</button>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="tabs">
      <div class="tabsHeader">
            <div class="tabsHeaderContent">
                  <ul>
                  		<li class="selected"><a href="#"><span>执行结果</span></a></li>
                        <li><a href="#"><span>执行计划分析</span></a></li>
                        <li><a href="#"><span>表分析</span></a></li>
                        <li><a href="#"><span>分析结果</span></a></li>
                  </ul>
            </div>
      </div>
      <div class="tabsContent">
      	<div class="pageContent" layoutH="260">
	        <table class="list" width="100%">
				<thead>
					<tr>
						<th width="100">orderid</th>
						<th width="100">ordername</th>
						<th width="100">departure</th>
						<th width="100">pay_status</th>
						<th width="100">takeoff_time</th>
					</tr>
				</thead>
				<tbody>
					<tr target="sid_user" rel="4">
						<td>fdsfsa200</td>
						<td>买鞋订单</td>
						<td>一号店</td>
						<td>已支付</td>
						<td>2013-12-22 21:02:24</td>
					</tr>
					<tr target="sid_user" rel="4">
						<td>fdsfsa200</td>
						<td>买鞋订单</td>
						<td>一号店</td>
						<td>已支付</td>
						<td>2013-12-22 21:02:24</td>
					</tr>
					<tr target="sid_user" rel="4">
						<td>fdsfsa200</td>
						<td>买鞋订单</td>
						<td>一号店</td>
						<td>已支付</td>
						<td>2013-12-22 21:02:24</td>
					</tr>
					<tr target="sid_user" rel="4">
						<td>fdsfsa200</td>
						<td>买鞋订单</td>
						<td>一号店</td>
						<td>已支付</td>
						<td>2013-12-22 21:02:24</td>
					</tr>
					<tr target="sid_user" rel="4">
						<td>fdsfsa200</td>
						<td>买鞋订单</td>
						<td>一号店</td>
						<td>已支付</td>
						<td>2013-12-22 21:02:24</td>
					</tr>
				</tbody>
			</table>
		</div>
      	<div class="pageContent" layoutH="260">
	        <table class="list" width="100%">
				<thead>
					<tr>
						<th width="100">序号</th>
						<th width="100">操作</th>
						<th width="100">对象名称</th>
						<th width="100">列</th>
						<th width="100">字节</th>
						<th width="100">CPU消耗(%)</th>
						<th width="100">临时空间</th>
						<th width="100">耗时</th>
					</tr>
				</thead>
				<tbody>
					<tr target="sid_user" rel="4">
						<td>1</td>
						<td>SELECT statement</td>
						<td></td>
						<td></td>
						<td></td>
						<td>2</td>
						<td></td>
						<td></td>
					</tr>
					<tr target="sid_user" rel="4">
						<td>2</td>
						<td>TABLE ACCESS INDEX BY ROWID</td>
						<td>MEMBER_TBL</td>
						<td>1</td>
						<td>86</td>
						<td>2</td>
						<td></td>
						<td>00:00:01</td>
					</tr>
					<tr target="sid_user" rel="4">
						<td>3</td>
						<td>INDEX RANGE SCAN</td>
						<td>IND_MEMBER_ID</td>
						<td>1</td>
						<td></td>
						<td>1</td>
						<td></td>
						<td>00:00:10</td>
					</tr>
					<tr target="sid_user" rel="4">
						<td>4</td>
						<td>INDEX RANGE SCAN</td>
						<td>IDX_MEMBERID</td>
						<td>1</td>
						<td></td>
						<td>1</td>
						<td></td>
						<td>00:00:08</td>
					</tr>
					<tr target="sid_user" rel="4">
						<td>5</td>
						<td>INDEX RANGE SCAN</td>
						<td>IDX_ID</td>
						<td>1</td>
						<td></td>
						<td>1</td>
						<td></td>
						<td>00:00:03</td>
					</tr>
					<tr target="sid_user" rel="4">
						<td>6</td>
						<td>INDEX RANGE SCAN</td>
						<td>IDX_ORGID</td>
						<td>1</td>
						<td></td>
						<td>1</td>
						<td></td>
						<td>00:00:01</td>
					</tr>
				</tbody>
			</table>
		</div>
        <div class="pageContent" layoutH="260">
			<table class="list" width="100%">
				<thead>
					<tr>
						<th width="100">TABLE_NAME</th>
						<th width="100">NUM_ROWS</th>
						<th width="100">SAMPLE_SIZE</th>
						<th width="100">BLOCKS</th>
						<th width="100">同级收集次数</th>
						<th width="100">运行统计命令</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>ORDER_INFO</td>
						<td>1005452</td>
						<td>250023</td>
						<td>2260</td>
						<td>1</td>
						<td><a href="/analyse/sqldetail" target="dialog" mask="true" style="color:blue;" rel="SQL详情" title="SQL详情" height="300">select t.currency from ORDER_INFO t</a></td>
					</tr>
					<tr>
						<td>ORDER_INFO</td>
						<td>1001225</td>
						<td>59557</td>
						<td>2261</td>
						<td>2</td>
						<td><a href="/analyse/sqldetail" target="dialog" mask="true" style="color:blue;" rel="SQL详情" title="SQL详情" height="300">select t.currency from ORDER_INFO t</a></td>
					</tr>
					<tr>
						<td>ORDER_INFO</td>
						<td>1008393</td>
						<td>58470</td>
						<td>2262</td>
						<td>3</td>
						<td><a href="/analyse/sqldetail" target="dialog" mask="true" style="color:blue;" rel="SQL详情" title="SQL详情" height="300">select t.currency from ORDER_INFO t</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="pageContent" layoutH="260">
			<table class="list" width="100%">
				<thead>
					<tr>
						<th width="80">执行时间(s)</th>
						<th width="80">CPU占用率</th>
						<th>优化建议</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>0.06</td>
						<td>2%</td>
						<td><span style="color: red;">语句中按SEGMENT_INFO.item_id进行升序排序，检测出未加索引，建议加上索引！</span></td>
					</tr>
				</tbody>
			</table>
		</div>
      </div>
      <div class="tabsFooter">
            <div class="tabsFooterContent"></div>
      </div>
	</div>
</div>
