@(jsonStr: String)
<div class="pageContent"  layoutH="0" style="display:block;">
	<div class="panel">
			<h1>数据库列表</h1>
			<div>
				<table id="objectList" class="list" width="100%">
					<thead>
						<tr>
							<th width="100">名称</th>
							<th width="100">数据库类型</th>
							<th width="100">运行时间</th>
							<th width="100">状态</th>
						</tr>
					</thead>
					<tbody>
						<tr target="sid_user" rel="4" class="selected">
							<td>Oracle_11g_RAC</td>
							<td>Oracle</td>
							<td class="runtime">1天3小时39分21秒</td>
							<td style="color:green;">线上</td>
						</tr>
						<tr target="sid_user" rel="1">
							<td>MariaDB_5.5</td>
							<td>MariaDB</td>
							<td class="runtime">33天6小时58分52秒</td>
							<td style="color:green;">线上</td>
						</tr>
						<tr target="sid_user" rel="2">
							<td>10g测试库主库</td>
							<td>Oracle</td>
							<td class="runtime">32天23小时44分40秒</td>
							<td style="color:green;">线上</td>
						</tr>
						<tr target="sid_user" rel="3">
							<td>MySQL_240_5.1</td>
							<td>MySQL</td>
							<td class="runtime">13天20小时56分1秒</td>
							<td style="color:green;">线上</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	<div class="tabs" currentIndex="0" eventType="click" style="margin: 5px;">
		<div class="tabsHeader">
			<div class="tabsHeaderContent">
				<ul>
					<li><a href="javascript:;"><span>性能曲线</span></a></li>
					<li><a href="javascript:;"><span>空间</span></a></li>
					<li><a href="javascript:;"><span>报警</span></a></li>
				</ul>
			</div>
		</div>
		<div class="tabsContent">
			<!-- 性能曲线 -->
			<div>
				<div class="pageContent">
					<div id="capChart" style="height:350px;margin:10px;"></div>
				</div>
			</div>
			<!-- 空间 -->
			<div>
				<table class="list" width="100%">
					<thead>
						<tr>
							<th width="100">名称</th>
							<th width="100">类型</th>
							<th width="100">物理大小/MB</th>
							<th width="100">实际使用/MB</th>
							<th width="100">剩余大小/MB</th>
							<th width="100">剩余比例</th>
							<th width="100">日增长/MB</th>
							<th width="100">剩余天数</th>
							<th width="100">状态</th>
						</tr>
					</thead>
					<tbody>
						<tr target="sid_user" rel="4">
							<td>OLCLASSDATA</td>
							<td>PERMANENT</td>
							<td>100</td>
							<td>81</td>
							<td>19</td>
							<td style="color:red;">19.0%</td>
							<td>0</td>
							<td></td>
							<td style="color:green;">在线</td>
						</tr>
						<tr target="sid_user" rel="4">
							<td>OLCLASSIDX</td>
							<td>PERMANENT</td>
							<td>100</td>
							<td>61</td>
							<td>38</td>
							<td style="color:#ff9900;">38.19%</td>
							<td>0</td>
							<td></td>
							<td style="color:green;">在线</td>
						</tr>
						<tr target="sid_user" rel="4">
							<td>SHALV_TBS</td>
							<td>PERMANENT</td>
							<td>128</td>
							<td>0</td>
							<td>129</td>
							<td style="color:green;">99.9%</td>
							<td>0</td>
							<td></td>
							<td style="color:green;">在线</td>
						</tr>
						<tr target="sid_user" rel="4">
							<td>USERS</td>
							<td>PERMANENT</td>
							<td>100</td>
							<td>72</td>
							<td>28</td>
							<td style="color:red;">28.0%</td>
							<td>0</td>
							<td></td>
							<td style="color:green;">在线</td>
						</tr>
						<tr target="sid_user" rel="4">
							<td>SYSAUS</td>
							<td>PERMANENT</td>
							<td>1824</td>
							<td>1105</td>
							<td>818</td>
							<td style="color:#ff9900;">44.87%</td>
							<td>12</td>
							<td>79</td>
							<td style="color:green;">在线</td>
						</tr>
						<tr target="sid_user" rel="4">
							<td>SYSTEM</td>
							<td>PERMANENT</td>
							<td>2048</td>
							<td>300</td>
							<td>1747</td>
							<td style="color:green;">85.36%</td>
							<td>0</td>
							<td>超过1年</td>
							<td style="color:green;">在线</td>
						</tr>
						<tr target="sid_user" rel="4">
							<td>TEMP</td>
							<td>TEMPORARY</td>
							<td>16</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td style="color:green;">在线</td>
						</tr>
						<tr target="sid_user" rel="4">
							<td colspan="2">总计</td>
							<td>6540</td>
							<td>1519</td>
							<td>2777</td>
							<td style="color:green;">52.55%</td>
							<td colspan="3">12</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- 报警 -->
			<div>
				<table class="list" width="100%">
				<thead>
						<tr>
							<th width="100">类别</th>
							<th width="100">状态</th>
						</tr>
					</thead>
					<tbody>
						<tr target="sid_user" rel="4">
							<td>DBConnect/Locks</td>
							<td><span class="green">OK</span></td>
						</tr>
						<tr target="sid_user" rel="4">
							<td>Table space</td>
							<td><span class="yellow">warn</span></td>
						</tr>
						<tr target="sid_user" rel="4">
							<td>Memory/Process</td>
							<td><span class="green">OK</span></td>
						</tr>
						<tr target="sid_user" rel="4">
							<td>Trans/Undo</td>
							<td><span class="green">OK</span></td>
						</tr>
						<tr target="sid_user" rel="4">
							<td>StandBy</td>
							<td><span class="grey">N/A</span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="tabsFooter">
			<div class="tabsFooterContent"></div>
		</div>
	</div>

</div>

<script type="text/javascript">
	$(function() {
		var previousPoint = null, previousLabel = null;
		var $box = navTab.getCurrentPanel();
		// 设置性能曲线的最晚时间（当前）和最早时间（3小时前）
		var date = new Date();
		var minDate = getMinDate();

		// 性能曲线
		var maximum = 73;
		var capData = [];
	
	    function getRandomData() {
	    	var tmp = new Date();
			tmp.setHours(tmp.getHours()-72);
	        if (capData.length) {
	            capData = capData.slice(1);
	        }
	
	        while (capData.length < maximum) {
	            var previous = capData.length ? capData[capData.length - 1] : 30;
	            var y = previous + Math.random() * 10 - 5;
	            capData.push(y < 0 ? 0 : y > 60 ? 60 : y);
	        }
	
	        var res = [];
	        for (var i = 0; i < capData.length; ++i) {
	            res.push([tmp.getTime(), capData[i]]);
	            tmp.setHours(tmp.getHours() + 1);
	        }
	
	        return res;
	    }
	
		//
	
		var series = [{
			data: getRandomData(),
			lines: { show: true },
			points: { show: true }
		}];
	
		
		function getMinDate(){
			var tmp = new Date();
			tmp.setHours(tmp.getHours()-72);
			return tmp;
		}
		var plot = $.plot($("#capChart",$box), series, {
			grid: {
				borderWidth: 1,
				minBorderMargin: 20,
				labelMargin: 10,
				backgroundColor: {
					colors: ["#fff", "#e4f4f4"]
				},
				margin: {
					top: 8,
					bottom: 20,
					left: 0
				}
			},
			xaxis: {
				mode: "time",
				minTickSize: [1, "day"],
				min: minDate.getTime(),
				max: date.getTime(),
				twelveHourClock: true
			},
			yaxis: {
				min: 0,
				max: 100
			},
			legend: {
				show: true
			}
		});
		var yaxisLabel = $("<div class='axisLabel yaxisLabel'></div>")
			.text("(K)")
			.appendTo($("#capChart",$box));
		yaxisLabel.css("margin-top", 5);
	});
</script>